# ignore all Krita project files
*.kra

# ignore all temp files created by Krita
*.*~

# ignore all Libreoffice Writer files
*.odt*

# ignore all files in datasheets/raw
datasheets/raw

# ignore all files in datasheets/cropped
datasheets/cropped